:root {
	--blue: #76d9ff;
	--pink: #ffc0cd;
	--blue-text: #55CDFC;
	--pink-text: #f89fb1;
	--bg: #201b1f;
	--fg: #eee;
	--b2: #40363a;
	--f2: #ccc;
	--hl: #fff;
	--ov: rgba(255, 255, 255, 0.15);
	--hr: rgba(255, 255, 255, 0.60);

	--transition: 75ms linear
	--page-transition: 200ms ease-in-out;
}

@media (prefers-color-scheme: light) {
	:root {
		--blue: #00b7ff;
		--pink: #ff89a0;
		--blue-text: #1da7dd;
		--pink-text: #da2a3b;
		--bg: #eee;
		--fg: #272226;
		--b2: #e1e1e1;
		--f2: #505050;
		--hl: #000;
		--ov: rgba(0, 0, 0, 0.15);
		--hr: rgba(0, 0, 0, 0.60);
	}
}

html, body {
	min-height: 100vh;
	color: var(--fg);
	background-color: var(--bg);
}

body {
	font-family: "Source Serif Pro", "Noto Serif", serif;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 44em;
	padding-top: 0;
	padding-bottom: 0;
}

/* Swup Magic */
main {
	transition: opacity 100ms linear;
	opacity: 1;
}

html.is-animating main {
	opacity: 0;
}

@media (prefers-reduced-motion) {
	main {
		transition-duration: 0ms;
	}
}

main {
	max-width: 38em;
	width: 100%;
}

pre {
	line-height: 1.25em;
}

body > main {
	flex: 1;
}

main {
	margin: 0 auto;
}

article {
	margin: 2em auto;
}

header {
	position: relative;
}

header::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 38em;
	width: 100%;
	border-bottom: 1px solid var(--ov);
}

header h1 {
	color: var(--pink-text);
	margin: 1em 0;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: inherit;
}

header h1 small {
	color: var(--f2);
	font-size: 0.65em;
	font-weight: lighter;
}

code {
	background: none;
	padding: 0;
}

code, kbd, pre, samp {
	font-family: "Inconsolata", "Source Code Pro", "Noto Mono", monospace;
	font-weight: 500;
	font-size: 0.95em;
	tab-size: 4;
}

pre, blockquote {
	background: var(--b2);
}

pre {
	padding: 1em;
	overflow-x: auto;
}

blockquote {
	padding: 0.5em 1em;
}

p img,
p video {
	margin: 0;
}

a {
	color: var(--blue-text);
	transition:
		color var(--transition),
		text-decoration var(--transition);
}

a:visited {
	color: var(--blue-text);
}

a:hover {
	color: var(--blue);
	border: none;
	text-decoration: underline;
}

aside {
	color: var(--f2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Source Sans Pro", "Noto Sans", "Segoe UI", sans-serif;
}

ol ol,
ul ul,
li li {
	margin-bottom: 0;
}

footer {
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr auto;
	align-items: first baseline;
	position: relative;
}

#license {
	font-size: 0.75em;
	line-height: 1.5em;
	text-align: right;
	max-width: 280px;
}

@media (max-width: 600px) {
	footer {
		display: block;
	}

	#license {
		text-align: left;
	}
}

footer p {
	margin: 2em 0;
	font-size: 0.9em;
}

footer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 38em;
	width: 100%;
	border-top: 1px solid var(--ov);
}

#index article > hr {
	margin: 2em 0;
	border-style: solid;
	border-color: var(--pink-text);
}

#index article > a.view-more {
	margin: 1rem 0;
	margin-top: 0;
	padding: 1rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	transition: all var(--transition);
	color: var(--pink-text);
	border-bottom: 2px solid var(--pink-text);
}

#index article > a.view-more:visited {
	color: var(--pink-text);
}

#index article > a.view-more:hover {
	color: var(--pink);
	border-color: var(--pink);
	text-decoration: none;
}

#index .article-body h1,
#index .article-body h2,
#index .article-body h3,
#index .article-body h4,
#index .article-body h5,
#index .article-body h6 {
	font-size: 1.25em;
}

#index .article-body > * {
	margin: 0;
	margin-bottom: 1rem;
}

#index .article-body > *:last-child {
	margin-bottom: 0;
}

#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6,
#article p {
	margin: 2.5rem 0;
}

#index .article-body > *:first-child,
#article .article-body > *:first-child {
	margin-top: 1rem;
}
