<!DOCTYPE html>
{{ template "components/head.html" }}
{{ $articles := datasource "articles" }}
<meta property="og:title" content="Homepage" />
<meta property="og:site_name" content="diamond's blog" />
<meta property="og:type" content="article" />
<meta property="article:author" content="diamondburned" />
<title>diamond's blog</title>

{{ template "components/header.html" }}

<main id="index">
	{{ range $articles }}
	<article>
		<aside>
			<datetime>{{ (time.Unix .writtenAt).Format "2006/01/02" }}</datetime>
		</aside>
		<div class="article-body">
			{{ .synopsis.html }}
		</div>
		<a href="/{{ .slug }}" class="view-more">
			read more
		</a>
	</article>
	{{ end }}
</main>

{{ template "components/footer.html" }}
