<meta name="viewport" content="initial-scale=1" />
<meta charset="UTF-8">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap">
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css">
<link rel="stylesheet" href="/static/styles.css">
