name: Build
on:
  pull_request:
  workflow_call:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Nix packages
        uses: diamondburned/cache-install@0746911c01dc84bba95d35be82db09435537d8ca
        with:
          auto-optimise: true
          shell-file: shell.nix

      - name: Build
        run: build --minify
 
      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: public
